<section id="call">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 call-1">
      </div>
      <div class="col-md-4 call-2">
       <h4>Schedule Your Consultation:</h4>
       <h3><b>650-343-5633</b></h3>
      </div>
    </div>
  </div>
</section>