  
<div id="wrap">

<!-- NAVBAR -->
	<nav id="NAV" class="navbar navbar-fixed-top navbar-default">
    <div class="navbar-header">
      <button id="burger" type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navbar-offcanvas" data-canvas="body">
        <span id="icon" class="icon-bar"></span>
        <span id="icon" class="icon-bar"></span>
        <span id="icon" class="icon-bar"></span>
        </button>
        <a href = "/" class = "navbar-brand">
        	<img id="logo" src="resources/logo/logo.png" alt="Hughes" />
     		</a>
    </div>
    <div class="navbar-offcanvas offcanvas">
      <a id="closeMenu" class="navmenu-brand" href="#" data-toggle="offcanvas" data-target=".navbar-offcanvas">x</a>
      <ul class="nav navbar-nav navbar-right" id="">
        <li><a class="btNav" id="test" href = "/drhughes">Meet The Doctor</a></li>
        <li><a class="btNav" id="" href = "/specialties">Specialties</a></li>
        <li><a class="btNav" id="" href = "patientinfo">Patient Info</a></li>
        <li><a class="btNav" id="" href = "/blog">Blog</a></li>
        <li><a class="btNav" id="" href = "/contact">Contact &#38; Location</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </nav>	
  