<% include partials/header-1 %>
<% include partials/contactTitle %>
<% include partials/header-2 %>
<% include partials/navigation %>


<div id="map"></div>


<!--section 1-->
<section id="contact-section1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 contact-section1-1 top-bottom-space">
        <div class="section-padding">
          <h2><b>Locations</b></h2>
          <div class="row">
            <div class="col-md-6">
              <p><b><u>San Mateo</u></b> (main, above)</p>
              <p>100 S. Ellsworth Ave., Suite #504</p>
              <p>San Mateo, CA 94401</p>
            </div>
            <div class="col-md-6">
              <p><b><u>Foster City</u></b></p>
              <p>1098 Foster City Blvd., Suite #104</p>
              <p>Foster City, CA 94404</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 contact-section1-2 top-bottom-space top-bottom-space-extra">
        <div class="section-padding">
          <h3>Schedule a consultation:</h3>
          <h2><b>650-343-5633</b></h2>
        </div>
      </div>
      <div class="col-md-3 contact-section1-3 top-bottom-space top-bottom-space-extra">
        <div class="section-padding">
          <h2><b>Hours</b></h2>
          <p>Monday - Friday</p>
          <p>9 am - 5 pm</p>
        </div>
      </div>
    </div>
  </div>
</section>



<% include partials/googleMapFooter %>