<% include partials/header-1 %>
<% include partials/hughesTitle %>
<% include partials/header-2 %>
<% include partials/navigation %>


<section id="hughes-headline" class="jumbotron">
  <div class="container">
    <h1><b>Meet Dr. Hughes</b></h1>
    <p></p>
  </div>
</section>


<% include partials/call %>


<!--section 1-->
<section id="hughes-section1">
  <div class="container-fluid">
    <h2><b>Background &#38; Bio</b></h2>
    <div class="row">
      <div class="col-md-6 hughes-section1-1">
        <div class="section-padding">
          <p>Dr. Hughes holds an undergraduate degree in Physics from UCLA where he graduated Summa Cum Laude with a Distinction as First in his Class. He attended medical school at USC Keck School of Medicine where he served as Student Body President. He completed his Orthopedic Surgery training in Washington D.C. where he was Chief Resident at George Washington University Medical School. Dr. Hughes was awarded the top research paper by The Washington D.C. Orthopedic Society. He received additional fellowship training in Sports Medicine at one of the leading medical centers and teaching institutions in the country, Washington University, in St. Louis, Missouri. It was here that he was the Team Physician for The St. Louis Rams (National Football League), The Blues (National Hockey League) and The St. Louis Cardinals (Major League Baseball).</p>
          <p>Dr. Hughes provides his patients with an unparalleled expertise in minimally invasive arthroscopic surgery of the hip, shoulder, knee, ankle, elbow and wrist. At the forefront in early-diagnosis and non-operative for effective hip pain treatment, he has helped many patients live pain free without surgery. Dr. Hughes has instructed other surgeons on hip replacements, hip arthroscopy and computer assisted surgical techniques. Dr. Hughes holds faculty appointments at Mills-Peninsula Hospital in San Mateo and Burlingame, Sequoia Hospital in Redwood City, and Campus Surgery Center in Daly City, California.</p>
        </div>
      </div>
      <div class="col-md-6 hughes-section1-2">
        <div class="section-padding">
          <p>More recently, Dr. Hughes has been involved in the research and development of medical devices. He also serves in an advisory capacity to the news media, The College of San Mateo, and several medically oriented companies.  He is a consultant for ConforMIS. Dr. Hughes remains a lifetime member of the USC Honor Society. Like many philanthropists in the medical field, he dedicates part of his time to volunteer for the underserved and less fortunate. Dr. Hughes is an active member of Operation Access and community advocacy of the uninsured. He has been known to make local house calls to 100-year-old patients and special needs children as young as 6. Dr. Hughes’ international surgery cases have increased, taking him to Australia in 2012 and Hong Kong in 2013.</p>
          <p>Dr. Hughes has published numerous scientific articles in sports medicine and orthopedic journals on preventing childhood sports injuries and is a frequently invited presenter at sports medicine and orthopedic meetings. His commitment to quality care, patient education, injury prevention, joint preservation, and patient wellness is unmatched. He works with each patient to establish an individualized treatment plan for joint preservation, and sees his patients personally at every appointment to ensure continuity and quality of care.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!--section 2-->
<section id="hughes-section2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 hughes-section2-1 top-bottom-space">
        <div class="section-padding">
          <h2><b>Hip Arthroscopy</b></h2>
          <p>Hip arthroscopy is a minimally invasive surgical procedure which allows doctors to view the hip joint without making a large incision through the skin and other soft tissues. During an arthroscopy, a small camera (arthoscope) is inserted into the damged area. The camera displays pictures on a video monitor, thus allowing us to view these images dureing the procedure to guide the small surgical instruments in repairing the joint.</p>
          <p>The arthroscope and other small surgical instruments used during the procedure are thin, leaving very small incisions, compared to the larger incision needed for open surgery. As a result, patients experience less pain, less joint stiffness, and often a much shorter recovery time.</p>
          <p>Hip arthroscopy is often recommended if you are experiencing a painful condition that does not respond to nonsurgical treatment methods such as rest, physical therapy, and medications or injections that can reduce inflammation. We take the time to evaluate each patient's situation to decide on the best treatment method.</p>
        </div>
      </div>
      <div class="col-md-6 hughes-section2-2 top-bottom-space">
        <div class="section-padding">
          <h2><b>ConforMIS Personalized Knee Implants</b></h2>
          <p>Patients vary in more ways than gender, race, and size. ConforMIS believes that optimizing implant fit and performance requires a patient-specific approach. The iUni® and iDuo® partial knee resurfacing systems offer an alternative for early intervention patients who are not yet ready for a standard total knee replacement. ConforMIS is an example of the cutting edge technology Dr. Hughes offers to his patients.</p>
          <p>The ConforMIS personalized knee implants use imaging technology to scan your knee and then design an implant made precisely for you. As a result, appropriate candidates for a ConforMIS knee resurfacing can have a procedure that preserves more of their natural tissue, requires fewer bone cuts, and delivers unprecedented fit for every patient.</p>
          <ul>
            <li>Manufactured for each patient, based on their individual anatomy</li>
            <li>Treats only the diseased portions of the knee, for patients with partial knee disease</li>
            <li>Bone and tissue preserving with fewer bone cuts than standard knee replacement</li>
            <li>Preserves all ligaments, including the ACL and PCL</li>
            <li>Maintains the geometry of the femur (thigh bone), for natural articulation</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!--section 3-->
<section id="hughes-section3" class="top-bottom-space">
  <div class="container-fluid">
    <h2><b>Orthopedic &#38; Sports Medicine Specialties</b></h2>
    <div class="row">
      <div class="col-md-4 hughes-section3-1">
        <ul>
          <li><p>Anterior Cruciate Ligament Surgery</p></li>
          <li><p>Arthroscopic Surgery (Hip, Knee, Shoulder, Elbow, Wrist and Ankle)</p></li>
          <li><p>Carpal Tunnel Endoscopic Release</p></li>
          <li><p>Fracture Treatment</p></li>
          <li><p>General Orthopedics</p></li>
          <li><p>Hand and Wrist Injuries</p></li>
          <li><p>Joint Preservation</p></li>
        </ul>
      </div>
      <div class="col-md-4 hughes-section3-2">
        <ul>
          <li><p>Total Joint Replacement</p></li>
          <li><p>Knee Surgery</p></li>
          <li><p>Ligament and Joint Reconstruction</p></li>
          <li><p>Orthopedic Trauma Surgery</p></li>
          <li><p>Personalized Knee Implants</p></li>
          <li><p>Rotator Cuff Repair</p></li>
          <li><p>Shoulder Injuries</p></li>
        </ul>
      </div>
      <div class="col-md-4 hughes-section3-3">
        <ul>
          <li><p>Spinal Disorders/Injuries</p></li>
          <li><p>Sports Injuries</p></li>
          <li><p>Sports Injury Prevention</p></li>
          <li><p>Sports Medicine</p></li>
          <li><p>Stem Cell Injections</p></li>
          <li><p>Miniscus transplantation</p></li>
          <li><p>Cartilage transplantation</p></li>
        </ul>
      </div>
    </div>
  </div>
</section>


<!--section 4-->
<section id="hughes-section4">
  <div class="container-fluid">
    <div class="row">
      <div id="wrapper" class="col-md-6 hughes-section4-1 top-bottom-space">
        <div>
          <h2><b>Surgeon</b></h2>
          <ul>
            <li><p>Director, Joint Preservation Division, Campus Surgery Center in Daly City, CA</p></li>
            <li><p>Attending surgeon at Mills- Peninsula Health Center in Burlingame, CA and Sequoia Hospital in Redwood City, CA, both among the most prestigious health care facilities in Northern California.</p></li>
            <li><p>On-Call Emergency Room attending at Mills-Peninsula Health Center in Burlingame, CA</p></li>
          </ul>
        </div>
      </div>
      <div id="wrapper" class="col-md-6 hughes-section4-2 top-bottom-space">
        <div>
          <h2><b>Humanitarian</b></h2>
          <ul>
            <li><p><b>Operation Access:</b> Operation Access serves uninsured individuals in need of outpatient surgical procedures. Dr. Hughes has been a member since 1999</p></li>
            <li><p><b>STOP Sports Injuries:</b> An advocate of AOSSM’s national campaign Dr. Hughes helps raise awareness about the growing epidemic of orthopedic and sports injuries in young athletes.</p></li>
            <li><p>Proud to support Mills Peninsula Hospital Foundation & Sequoia Hospital Foundation</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<% include partials/footer %>