<% include partials/header-1 %>
<% include partials/landingTitle %>
<% include partials/header-2 %>
<% include partials/navigation %>


<section id="headline" class="jumbotron">
  <div class="container">
    <h1><b>A Better Approach</b></h1>
    <p>“Patient communication and education are vital to providing quality care. I like to establish a relationship with my patients so they feel involved in their own treatment plan. In the end, this approach makes for the speedier recoveries and happier patients.“ <br/><i>— Dr. Paul Eliot Hughes</i></p>
  </div>
</section>

<section id="section1">
  <div class="container-fluid">
    <div class="row">
      <div id="wrapper" class="col-md-6 section1-1">
        <div class="section-padding">
          <h3>Our Philosophy</h3>
          <p>We work as team to help our patients toward full recovery.  We use the latest and most progressive techniques, and the most reputable therapists and hospital facilities in the San Francisco Bay Area.  When surgery is necessary to correct an orthopedic disorder or injury, the operative plan and the recovery process are thoroughly explained to the patient.   Our staff is professional and highly trained on the most leading edge instrumentation and equipment.  We take pride in finding and implementing the best possible solutions for our patients’ orthopedic problems.</p>
        </div>
      </div>
      <div id="wrapper" class="col-md-3 section1-2">
        <div class="section-padding">
          <h3>Patient Links</h3>
          <ul>
            <li><p><a href="/resources/documents/PatientDemographics.pdf" target="_blank">Patient Information Form </a><i class="fa fa-file-pdf-o" aria-hidden="true"></i></p></li>
            <li><p><a href="#paymentModal" data-toggle="modal">Payment Policy </a><i class="fa fa-external-link" aria-hidden="true"></i></p></li>
            <li><p><a href="#appointmentModal" data-toggle="modal">Appointments &#38; Scheduling </a><i class="fa fa-external-link" aria-hidden="true"></p></i></li>
            <li><p><a href="/patientinfo">Patient Education</a></p></li>
            <li><p><a href="/specialties">Learn About Treated Areas</a></p></li>
            <li><p><a href="/contact">Office Location</a></p></li>
          </ul>
        </div>
      </div>
      <div id="" class="col-md-3 section1-3 top-bottom-space top-bottom-space-extra-extra">
        <div class="section-padding-extra">
          <h3>Make An Appointment</h3>
          <h3><b>650-343-5633</b></h3>
          <p>Locations in San Mateo &#38; Foster City</p>
        </div>
      </div>
    </div>
  </div>
</section>


<% include partials/paymentModal %>
<% include partials/appointmentModal %>


<section id="section2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 section2-1">
        <!--img-->
      </div>
      <div id="wrapper" class="col-md-6 section2-2 top-bottom-space">
        <div id="block">
          <p>"Dr. Hughes did an AWESOME job on my surgery and corrected what needed to be done from the first surgery I had.  I've been pain free now for about a year and a half. I'm glad he was able to fix the problems and also fix the scar from my last surgery. Go Dr. Hughes!!  I would definitely go back to see him if I had any other orthopedic problems and I highly recommend people to see him as well."<br/><i>— W.R. (vitals.com)</i></p>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="section3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-push-6 section3-2">
        <!--img-->
      </div>
      <div id="wrapper" class="col-md-6 col-md-pull-6 section3-1">
        <div id="block">
          <p>"Dr. Hughes operated on me after I fell in the shower and broke my knee cap. I can safely say that [it] was a success and I am happy with the result as well as the post-op care. He is a brilliant surgeon."<br/><i>— Shana W. (yelp.com)</i></p>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="section4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 section4-1">
        <!--img-->
      </div>
      <div id="wrapper" class="col-md-6 section4-2">
        <div id="block">
          <p>"Dr. Paul Hughes is, to me, a miracle worker!"<br/><i>— Mike R. (vitals.com)</i></p>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="section5" class="top-bottom-space top-bottom-space-extra">
  <div class="container">
    <div class="section-padding">
      <h3><b>View more reviews &#38; testimonials on Dr. Hughes' Yelp page!</b></h3>
      <a href="https://www.yelp.com/biz/paul-eliot-hughes-md-san-mateo"><button class="btn-default btn-light"><h5><b>Proceed to Yelp <i class="fa fa-angle-right" aria-hidden="true"></i></b></h5></button></a>
    </div>
  </div>
</section>
  
<% include partials/footer %>