<% include partials/header-1 %>
<% include partials/patientTitle %>
<% include partials/header-2 %>
<% include partials/navigation %>

<section id="patient-headline" class="jumbotron">
  <div class="container">
    <h1><b>Patient Information</b></h1>
    <p>Scheduling, appointments and Education</p>
  </div>
</section>


<!--section 1-->
<section id="patient-section1">
  <div class="container-fluid">
    <div class="row">
      <div id="wrapper" class="col-md-6 patient-section1-1 top-bottom-space">
        <div class="section-padding">
          <h2><b>Appointment &#38; Scheduling</b></h2>
          <p>All scheduling of office visits is done by the Reception Desk. All scheduling of surgeries is done by the appropriate doctor’s nurse or physician’s assistant.</p>
          <p>Except in the case of emergencies, it is not our policy to see patients without an appointment. Our doctors fill their schedules well in advance with, in some cases, people who have waited months to make an appointment. We understand that it is tempting to bring someone with you in hopes that they can be seen as well during your appointment time, but in fairness to those who have waited, we are not able to see anyone without a scheduled appointment. We appreciate your cooperation in this matter.</p>
        </div>
      </div>
      <div id="wrapper" class="col-md-6 patient-section1-2 top-bottom-space">
        <div class="section-padding">
          <h2><b>Patient Forms</b></h2>
          <p><b>Please print form, fill out by hand and bring to your next office visit.</b></p>
          <ul>
            <li><p><a href="/resources/documents/PatientDemographics.pdf" target="_blank">Patient Information Form </a><i class="fa fa-file-pdf-o" aria-hidden="true"></i></p></li>
          </ul>
          <p><b>Please bring the following items with you to appointments:</b></p>
          <ul>
            <li><p>Your insurance card or other health coverage information. Some insurance carriers require you to have a referral or primary care physician authorization before treatment is given. Please check with your carrier if you are in doubt.</p></li>
            <li><p>Walking shorts and athletic shoes (knee examination only).</p></li>
            <li><p>X-rays or MRI’s not older than twelve or eighteen months (if available).</p></li>
            <li><p>Clinic notes or operative reports from your referring physician that relate to your condition.</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!--section 2-->
<section id="patient-section2">
  <div class="container-fluid">
    <div class="row">
      <div id="wrapper" class="col-md-6 patient-section2-1 top-bottom-space">
        <div class="section-padding">
          <h2><b>Payment</b></h2>
          <p>Payment in full is expected at the time of your visit. Exceptions include workers compensation, Medicare, and preferred provider contracts (copay only). Check your insurance information to identify whether Dr. Paul Hughes is a preferred provider for your policy. Charges for physical therapy may also be included in the total charge of your appointment, but are billed separately. For your convenience we accept cash or check. Please contact our office if you have any questions or concerns.</p>
          <p>Should you have any questions prior to your visit, please feel free to contact the reception at <span class="teal">(650) 343-5633</span> and we will be happy to assist you.</p>
        </div>
      </div>
      <div id="wrapper" class="col-md-6 patient-section2-2 top-bottom-space">
        <div class="section-padding">
          <h2><b>Workers Compensation</b></h2>
          <p>For patients whose injury is work related, you must provide the clinic with an authorization letter from your employer or workers compensation carrier. Please include a claim number or case number, contact person and their phone number, and appropriate billing address.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--section 3-->
<section id="patient-section3">
  <div class="container-fluid">
    <div class="row">
      <div id="wrapper" class="col-md-6 patient-section3-1 top-bottom-space">
        <div class="section-padding">
          <h2><b>Billing Information</b></h2>
          <p>Like most physicians’ offices, we request payment at the time of service unless we are a preferred provider for the insurance company or employer. Contact our office for a complete list of all the plans we accept. Since most insurance companies do not reimburse the total amount due, you will be responsible for any charges that are not covered under your plan. Contact our office if you have any questions regarding your coverage or account balance.</p>
        </div>
      </div>
      <div id="wrapper" class="col-md-6 patient-section3-2 top-bottom-space">
        <div class="section-padding">
          <h2><b>Medical Records</b></h2>
          <p>If in the future you need to request certain medical records from our office, please be aware that the request could take ten days to two weeks before you receive the information. We will make every effort to fulfill all medical records requests as quickly as possible. Please contact our Medical Records department if you have any further questions.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--section 4-->
<section id="patient-section4" class="top-bottom-space">
  <div class="container-fluid">
    <div class="row">
      <div id="wrapper" class="col-md-6 patient-section4-1">
        <div class="section-padding">
          <h2><b>Patient Education Library</b></h2>
          <p>From A-Z: Orthopedic information you can trust from Your Orthopedic Connection, a service provided by the American Academy of Orthopedic Surgeons.</p><br/>
          <h2>Important Web Links</h2>
          <ul>
            <li><p>PreOp® Orthopedic: Hip Replacement Patient Education</p></li>
            <li><p>PreOp® Patient Education: Achilles Tendon Repair Surgery</p></li>
            <li><p>PreOp® Patient Education: Rotator Cuff Repair Open Surgery</p></li>
            <li><p>A Guide to Safety for Young Athletes</p></li>
          </ul>
        </div>
      </div>
      <div  id="wrapper" class="col-md-6 patient-section4-2">
        <div class="section-padding">
          <h2>Other Recommended Links</h2>
          <ul>
            <li><p>Campus Surgery Center</p></li>
              <p>Outpatient Surgery Center of excellence that Dr. Hughes is on Staff</p>
            <li><p>Kids and Sports </p></li>
              <p>Article written by Dr. Hughes</p>
            <li><p>Teen Sports Injuries</p></li>
              <p>Dr. Hughes is interviewed on Sutter Health Presents Your Health.</p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


  
<% include partials/footer %>