<% include partials/header-1 %>
<% include partials/specialtiesTitle %>
<% include partials/header-2 %>
<% include partials/navigation %>

<section id="spec-headline"  class="jumbotron">
  <div class="container">
    <h1><b>Specializing in Fast Recoveries</b></h1>
  </div>
</section>


<!--section 1-->
<section id="spec-section1">
  <div class="container-fluid">
    <div class="row">
      <div id="wrapper" class="col-md-6 spec-section1-1 top-bottom-space">
        <div class="section-padding">
          <h2><b>Our Mission</b></h2>
          <p>Dr. Hughes seeks to deliver the highest standard of orthopedic care and personal attention to each and every patient seeking his help. Whether you are an injured athlete or just want to be able to walk again without pain, Dr. Hughes does his best to help his patients achieve their goal.  His success in helping his patients reach their goals is what attracts people from all walks of life to his practice.</p>
        </div>
      </div>
      <div id="wrapper" class="col-md-6 spec-section1-2 top-bottom-space">
        <div class="section-padding">
          <h2><b>Our Philosophy</b></h2>
          <p>We work as team to help our patients toward full recovery.  We use the latest and most progressive techniques, and the most reputable therapists and hospital facilities in the San Francisco Bay Area.  When surgery is necessary to correct an orthopedic disorder or injury, the operative plan and the recovery process are thoroughly explained to the patient.   Our staff is professional and highly trained on the most leading edge instrumentation and equipment.  We take pride in finding and implementing the best possible solutions for our patients’ orthopedic problems.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!--section 2-->
<section id="spec-section2" class="top-bottom-space-extra">
  <div class="container">
    <div class="section-padding">
      <h2><b>Where Are You Experiencing Pain?</b></h2>
    </div>
  </div>
</section>


<!--section 3-->
<section id="spec-section3">
  <div class="container-fluid">
    <div class="row">
      <div id="wrapper" class="col-md-4 spec-section3-1 top-bottom-space">
        <div class="section-padding-extra">
          <h2><b>Hip</b></h2>
          <ul>
            <li>Arthroscopic Surgery</li>
            <li>Total hip replacement</li>
            <li>Other general hip injuries</li>
          </ul>
        </div>
      </div>
      <div id="wrapper" class="col-md-4 spec-section3-2 top-bottom-space">
        <div class="section-padding-extra">
          <h2><b>Knee</b></h2>
          <ul>
            <li>Arthroscopic surgery</li>
            <li>Miniscus transplantation</li>
            <li>Total knee replacement</li>
            <li>Personalized knee implants</li>
            <li>Other general knee injuries</li>
          </ul>
        </div>
      </div>
      <div id="wrapper" class="col-md-4 spec-section3-3 top-bottom-space">
        <div class="section-padding-extra">
          <h2><b>Shoulder</b></h2>
          <ul>
            <li>Arthroscopic surgery</li>
            <li>Rotator cuff repair</li>
            <li>Other general shoulder injuries</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!--section 4-->
<section id="spec-section4">
  <div class="container-fluid">
    <div class="row">
      <div id="wrapper" class="col-md-4 spec-section4-1 top-bottom-space">
        <div class="section-padding-extra">
          <h2><b>Elbow</b></h2>
          <ul>
            <li>Arthroscopic surgery</li>
            <li>Tennis elbow (epicondylitis)</li>
            <li>Other general elbow injuries</li>
          </ul>
        </div>
      </div>
      <div id="wrapper" class="col-md-4 spec-section4-2 top-bottom-space">
        <div class="section-padding-extra">
          <h2><b>Wrist (&#38; hand)</b></h2>
          <ul>
            <li>Arthroscopic surgery</li>
            <li>Carpal Tunnel Endoscopic Release</li>
            <li>Other general hand and wrist injuries</li>
          </ul>
        </div>
      </div>
      <div id="wrapper" class="col-md-4 spec-section4-3 top-bottom-space">
        <div class="section-padding-extra">
          <h2><b>Ankle</b></h2>
          <ul>
            <li>Arthroscopic surgery</li>
            <li>Other general ankle injuries</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!--section 5-->
<section id="spec-section5">
  <div class="container-fluid">
    <div class="row">
      <div id="wrapper" class="col-md-4 spec-section5-1 top-bottom-space">
        <div class="section-padding-extra">
          <h2><b>Spine</b></h2>
          <ul>
            <li>Back pain</li>
            <li>Neck injuries</li>
            <li>Spinal Disorders/Injuries</li>
          </ul>
        </div>
      </div>
      <div id="wrapper" class="col-md-4 spec-section5-2 top-bottom-space">
        <div class="section-padding-extra">
          <h2><b>Sports Injuries</b></h2>
          <ul>
            <li>Sports Injuries (sprains, pulls, strains)</li>
            <li>Sports Injury Prevention</li>
            <li>General sports medicine</li>
          </ul>
        </div>
      </div>
      <div id="wrapper" class="col-md-4 spec-section5-3 top-bottom-space">
        <div class="section-padding-extra">
          <h2><b>General Orthopedics</b></h2>
          <ul>
            <li>Stem Cell &#38; PRP injections</li>
            <li>Joint preservation</li>
            <li>Fracture treatment</li>
            <li>Ligament and Joint Reconstruction</li>
            <li>Cartilage transplantation</li>
            <li>Orthopedic Trauma Surgery</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="spec-section6" class="top-bottom-space-extra">
  <div class="container">
    <div class="section-padding">
      <h2>Call us today to shedule a consultation about your pain or injury.</h2>
      <h1><b>650-343-5633</b></h1>
    </div>
  </div>
</section>


  
<% include partials/footer %>